<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./layout/basic.html :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <div style="min-height: 808px;">

            <div class="content-area" style="width: 600px; margin: 50px auto">

                <div align="center">
                    <th:block th:if="${username == board.username}">
                        <button type="button" class="btn btn-warning" th:onclick="location.href='/boards/[[${board.bno}]]/edit'">게시글 관리</button>
                    </th:block>
                    <button type="button" class="btn btn-dark" th:onclick="location.href='/'">목록으로</button>
                </div>

                <input type="hidden" id="bno" th:value="${board.bno}">
                <input type="hidden" id="username" th:value="${username}">

                <div class="form-group">
                    <label>작성자</label>
                    <input type="text" class="form-control" name="title" th:value="${board.username}" readonly>
                </div>

                <br>

                <div class="form-group">
                    <label>글 제목</label>
                    <textarea style="resize: none" class="form-control" rows="2" name="title" readonly>[[${board.title}]]</textarea>
                </div>

                <br>

                <div class="form-group">
                    <label>글 내용</label>
                    <textarea style="resize: none" class="form-control" rows="10" name="content" readonly>[[${board.content}]]</textarea>
                </div>

                <br>
                <br>

                <!-- reply -->
                <div class="form-group">
                    <label>댓글 작성</label>
                    <textarea style="resize: none" class="form-control reply-box" rows="3"></textarea>
                </div>

                <br>

                <div align="center">
                    <button class="btn btn-outline-primary" onclick="writer_reply()">작성하기</button>
                </div>

                <br>

                <div class="reply-area" align="center">
                    <table>
                        <tr th:each="reply : ${reply}">
                            <input type="hidden" class="rno" th:value="${reply.rno}">
                            <td width="100px">[[${reply.username}]]</td>
                            <td width="350px">[[${reply.content}]]</td>
                            <td width="100px">[[${#temporals.format(reply.regDate, 'MM/dd HH:mm')}]]</td>
                            <td th:if="${username == board.username}">
                                <button class="btn btn-sm btn-outline-warning"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modify-reply"
                                        th:onclick="edit_reply()">관리</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>

        <div class="modal" tabindex="-1" id="modify-reply">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">돌아가..!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        수정과 삭제는 없다
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script>

            $(document).ready(function () {

            })

            // 댓글 작성
            function writer_reply() {

                let content = $(".reply-box").val();
                let bno = $("#bno").val();
                let username = $("#username").val();

                let data = {"content": content, "bno": bno}

                console.log(content);
                console.log(bno);
                console.log(username);

                if (username === '') {
                    alert('로그인을 먼저 해주세요');
                    location.href='/user/login';
                } else {

                    $.ajax({
                        type: "POST",
                        url: '/api/replies',
                        contentType: "application/json",
                        data: JSON.stringify(data)
                        , success: function (response) {
                            alert('댓글이 작성되었습니다');
                            window.location.reload();
                        }
                    });
                }

            }

        </script>

    </th:block>

</th:block>

</html>