<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./layout/basic.html :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <div style="min-height: 808px;">

            <div class="content-area" style="width: 600px; margin: 50px auto">

                <section class="py-5">
                    <div class="container px-4 px-xl-5 mt-5">

                        <form th:action="@{/boards/new}" th:method="post">

                            <input type="hidden" name="username" th:value="${username}">

                            <div class="form-group">
                                <label>글 제목</label>
                                <textarea style="resize: none" type="text" class="form-control" rows="2" name="title"></textarea>
                            </div>

                            <br>

                            <div class="form-group">
                                <label>글 내용</label>
                                <textarea style="resize: none" class="form-control" name="content" rows="10"></textarea>
                            </div>

                            <br>

                            <div align="center">
                                <button type="submit" class="btn btn-dark" onclick="alert('작성 완료!')">작성하기</button>
                            </div>

                        </form>


                    </div>
                </section>

            </div>

        </div>

    </th:block>

</th:block>

</html>