<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./layout/basic.html :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <div style="min-height: 858px;">

            <!-- Section-->
            <section class="py-5">
                <div class="container px-4 px-lg-5 mt-5">
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                        <th:block th:each="list : ${list}">
                            <div class="col mb-5" th:onclick="location.href='/boards/[[${list.bno}]]'">
                                <div class="card h-100">
                                    <!-- image-->
                                    <img class="card-img-top" src="/images/test.jpg"/>
                                    <!-- details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Title-->
                                            <h5 id="board-title" class="fw-bolder" th:text="${list.title}"></h5>
                                            <!-- Content -->
                                            <p id="board-content" th:text="${list.content}"></p>
                                            <!-- regdate -->
                                            [[${#temporals.format(list.regDate, 'MM/dd HH:mm')}]]
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-0 bg-transparent">
                                        <div class="text-center">
                                            [[${list.username}]]
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>

                    </div>
                </div>
            </section>

        </div>

    </th:block>

</th:block>

</html>